<ion-header>
  <ion-toolbar>
    <ion-title>TODO List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let task of tasks">
    <ion-item-sliding>
      <ion-item>
        <ion-toggle checked={{task.completed}}></ion-toggle>
        <span [innerHTML]="task.description"></span>  
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" [routerLink]="['/edit', task.id]" name="create-outline" color="light"></ion-icon>
          Edit
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(task)">
          <ion-icon slot="icon-only" name="trash-outline" color="light" ></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" [routerLink]="['/new']" ></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
